@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Serif TC', 'Playfair Display', serif !important;
    transition: all 1.5s ease-in;
    display: flex;
    flex-direction: column;
}

/* logo */

#logo {
    width: 75px;
}

#navlogo {
    position: fixed;
    width: 10vw;
    height: 100vh;
    text-align: center;
    z-index: 1000;
    padding-top: 10px;
}

.navContent {
    position: relative;
    list-style: none;
    display: flex;
    align-items: center;
    width: 65%;
    writing-mode: vertical-rl;
    margin-top: 8%;
}

/* 上方索引 */

#index ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-left: 0px;
}

#index ul li {
    width: 300px;
    border-bottom: 10px solid #BCBCBC;
    display: flex;
    justify-content: center;
    align-items: baseline;
    color: #585858;
    cursor: default;
}

#index ul li+li {
    margin-left: 106px;
}

#index ul li .indexNum {
    font-size: 38px;
}

#index ul li .indexText {
    font-size: 22px;
    margin-left: 14px;
}

#index ul li.chitem {
    color: #EBC179;
    border-bottom: 10pt solid #EBC179;
}

/* 中間訂單明細查詢的內容 */

#finishOrder {
    font-size: 18px;
    font-weight: normal;
    color: #585858;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

#finishOrder div.memberinfo {
    width: 1134px;
    border-bottom: 1px solid #000;
    padding-bottom: 31.5px;
}

#finishOrder div.memberinfo>div:first-child {
    font-size: 23px;
}

#finishOrder table.complexinfo {
    margin-top: 32.5px;
}

#finishOrder table.complexinfo tr td.vatop {
    vertical-align: top;
}

#finishOrder table.payinfo {
    margin-right: 60px;
}

#finishOrder table.complexinfo tr td table {
    border: 1px solid #bcbcbc;
}

#finishOrder table.complexinfo tr td table tr td {
    border: 1px solid #bcbcbc;
    text-align: center;
}

#finishOrder table.complexinfo tr td table tr td:first-child {
    background-color: #eeeeee;
    width: 150px;
    height: 66px;
}

#finishOrder table.complexinfo tr td table tr td:last-child {
    width: 314px;
}

div.subtitle {
    display: flex;
    width: 150px;
    height: 66px;
    justify-content: center;
    align-items: center;
}

.cartlistinfo {
    border: 2px solid #bcbcbc;
    width: 990px;
    margin-top: 75px;
}

.cartlistinfo tr th {
    background-color: #eeeeee;
    height: 99px;
    font-weight: normal;
}

.cartlistinfo tr th:nth-child(1) {
    text-indent: 38px;
    font-size: 21px;
    width: 176px;
}

.cartlistinfo tr th:nth-child(n+3) {
    text-align: center;
    font-size: 20px;
    width: 135px;
}

.cartlistinfo tr td {
    border-top: 2px solid #bcbcbc;
    height: 170px;
}

.cartlistinfo tr td:nth-child(1) {
    text-indent: 23px;
    ;
}

.cartlistinfo tr td:nth-child(1) img {
    width: 130px;
}

.cartlistinfo tr td:nth-child(2) {
    text-indent: 19px;
}

.cartlistinfo tr td:nth-child(2) ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.cartlistinfo tr td:nth-child(n+3) {
    text-align: center;
}

.cartlistinfo tr td:last-child div {
    width: 90px;
    height: 30px;
    border: 2px solid #bcbcbc;
    color: #bcbcbc;
    border-radius: 9px;
    cursor: not-allowed;
}

.cartlistinfo tr td:last-child div.candelete {
    border: 2px solid #ebc179;
    color: #ebc179;
    cursor: pointer;
}

/* 取消彈窗確認 */

#cancelAlert {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
}

#cancelConfirm {
    width: 632px;
    height: 248px;
    background-color: #FFF;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cancelConfirm div:first-child {
    font-size: 21px;
    color: #ebc179;
}

#cancelConfirm div:last-child button {
    font-size: 20px;
    color: #ebc179;
    width: 210px;
    height: 50px;
    border-radius: 9px;
    border: 2px solid #ebc179;
    background-color: #fff;
    margin-top: 46px;
    outline: none;
}

#cancelConfirm div:last-child button+button {
    margin-left: 40px;
}

#cancelConfirm div:last-child button:focus {
    background-color: #ebc179;
    color: #FFF;
}

.hidden {
    visibility: hidden;
}

.blur {
    filter: blur(3px);
}

.mask{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
}

/* 分隔線 */

#separate {
    display: flex;
    justify-content: center;
    /* margin-left: auto;
    margin-right: auto; */
    margin-top: 109.5px;
    margin-bottom: 77.5px;
}

.line {
    width: 1409px;
    height: 0px;
    border-top: 1px solid #585858;
}

/* 底部資訊區 */

#footerinfo {
    height: 273px;
    margin-left: auto;
    margin-right: auto;
}

#footerinfo p {
    font-size: 18px;
    line-height: 35px;
    color: #585858;
    text-align: center;
}