/* rwd media */
@media screen and (max-width: 1200px) {
  #navContent {
    display: none;
  }

  .img01 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  nav .links {
    position: fixed;
    background-color: rgba(
      var(--rwdRed),
      var(--rwdGreen),
      var(--rwdrBlue),
      0.7
    );
   
    top:0;
    right: 100%;
    left: -20%;
    bottom: -20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    
  
  }

  nav .links li {
    display: block;
    padding: 20px;
  }

  body::-webkit-scrollbar {
    display: none;
  }

  nav input:checked ~ .links {
    right: -20%;
  }
  .topIcon > ul {
    display: none;
  }

  nav .icon-burger {
    display: block;
    z-index: 2000;
  }

  nav :checked ~ .icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(2) {
    opacity: 0;
  }

  .bi-sun {
    margin-left: 23px;
  }
  .links input[type="checkbox"]:checked ~ .label .ball {
    transform: translateX(24px);
  }
  /* TOPICS*/

  #about {
    margin-bottom: 200px;
  }

  #gallery {
    margin-top: 100px;
  }

  /*footer*/
  .ftr-container {
    padding: 60px 0;
  }

  footer {
    width: 90%;
  }
}

@media screen and (max-width: 765px) {
  .content img {
    width: 100vw;
  }

  .col-sm-12 {
    padding-top: 10px;
  }

  .body-content {
    width: 150px;
    font-size: 30px;
  }

  nav .links li a {
  
    font-size: 16px;
 
  }

.swiper-button-next {
    right: 20px;
    transform: rotate(90deg);
  }

  .swiper-button-prev {
    left: 20px;
    transform: rotate(90deg);
  }
}

  
   


