#titimp {
    position: absolute;
    font-size: 50px;
    margin-top: 120px;
    left: 50%;
    transform: translateX(-50%);
}

#aboutcat {
    position: absolute;
    margin-top: 220px;
    left: 50%;
    transform: translateX(-50%);
    background-image: var(--aboutCat);
    width:647px;
    height:647px;

}

#content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 133px;
    font-size: 20px;
    color: var(--title);
    white-space: pre-line;
    width: 755px;
    height: 928px;
    text-align: center;
    line-height: 40px;
}

#ftr {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1450px;
}

.titleAbout{
    color:var(--title);
}

/* 落花動畫效果 */

@keyframes Drop1 {
    0% {
        /* transform如果有複數效果，中間空一格即可 */
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translate(-900px, 1250px) rotate(30deg);
        opacity: 0;
    }
}

@keyframes Drop2 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translate(-1000px, 1250px) rotate(10deg);
        opacity: 0;
    }
}

@keyframes Drop3 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translate(-800px, 1250px) rotate(20deg);
        opacity: 0;
    }
}

.rainy div {
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: var(--fallflower);
    background-size: cover;
    opacity: 0;
}

.rainy .rainyflake1 {
    left: 50%;
    animation: Drop1 10s ease-in infinite;
}

.rainy .rainyflake2 {
    left: 55%;
    animation: Drop2 9.4s ease-in-out 0.4s infinite;
}

.rainy .rainyflake3 {
    left: 57%;
    animation: Drop3 10.8s ease-in-out 0.8s infinite;
}

.rainy .rainyflake4 {
    left: 60%;
    animation: Drop1 9.8s ease-in-out infinite;
}

.rainy .rainyflake5 {
    left: 68%;
    animation: Drop2 8.8s ease-in-out 2s infinite;
}

.rainy .rainyflake6 {
    left: 70%;
    animation: Drop3 9.4s ease-in-out 1s infinite;
}

.rainy .rainyflake7 {
    left: 72%;
    animation: Drop1 9.4s ease-in-out 2.4s infinite;
}

.rainy .rainyflake8 {
    left: 75%;
    animation: Drop2 10s ease-in-out 2.8s infinite;
}

.rainy .rainyflake9 {
    left: 80%;
    animation: Drop3 10.8s ease-in-out 0.8s infinite;
}

.rainy .rainyflake10 {
    left: 81%;
    animation: Drop1 9.4s ease-in-out 2.4s infinite;
}

/* 花瓣調整 */

 .petal1,.petal2,.petal3,.petal4{
     position: absolute;
  } 

.petal1{
    left:850px;
    top:-80px;

}
.petal2{
  left: 50%;
  top:50%;
  transform: translate(-120%,120%);

}


.petal3{
    bottom:18%;
   transform:rotate(-10deg) translate(-80%);
}

.petal4{
   bottom: -30%;
   left:100%;
}

/* nav被選取後加左外框線 */

.choose{
    border-left: 6px solid #fbd596;
    color: #fbd596;
}

