@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Serif TC', 'Playfair Display', serif !important;
    transition: all 1.5s ease-in;
    display: flex;
    flex-direction: column;
}

/* logo */

#logo {
    width: 75px;
}

#navlogo {
    position: fixed;
    width: 10vw;
    height: 100vh;
    text-align: center;
    z-index: 1000;
    padding-top: 10px;
}

.navContent {
    position: relative;
    list-style: none;
    display: flex;
    align-items: center;
    width: 65%;
    writing-mode: vertical-rl;
    margin-top: 8%;
}

/* 上方索引 */

#index ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-left: 0px;
}

#index ul li {
    width: 300px;
    border-bottom: 10px solid #BCBCBC;
    display: flex;
    justify-content: center;
    align-items: baseline;
    color: #585858;
    cursor: default;
}

#index ul li+li {
    margin-left: 106px;
}

#index ul li .indexNum {
    font-size: 38px;
}

#index ul li .indexText {
    font-size: 22px;
    margin-left: 14px;
}

#index ul li.chitem {
    color: #EBC179;
    border-bottom: 10pt solid #EBC179;
}

/* 確認購買與付款方式內容 */

#confirmpay {
    color: #585858;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 78px;
    font-size: 18px;
}

#confirmpay div.headline {
    width: 467px;
    height: 74px;
    background-color: #eeeeee;
    border: 1.5px solid #bcbcbc;
    border-radius: 9px;
    display: flex;
    align-items: center;
}

#confirmpay div.headline:nth-child(2n) {
    margin-top: 62.7px;
}

#confirmpay div.headline span {
    font-size: 21px;
    margin-left: 25px;
}

#confirmpay table tr td.left {
    padding-right: 81.5px;
}

#confirmpay table tr td.right {
    border-left: 1px solid #707070;
    padding-left: 81.5px;
}

#confirmpay div.subtitle {
    margin-top: 32px;
}

#confirmpay select {
    outline: none;
    color: #585858;
    border: 1.5px solid #bebebe;
    border-radius: 9px;
}

#confirmpay input {
    outline: none;
    color: #585858;
    border: 1.5px solid #bebebe;
    border-radius: 2px;
}

#confirmpay select.payMethod, #confirmpay select.transportMethod {
    width: 300.3px;
    height: 32.4px;
    margin-top: 10px;
}

#confirmpay select option:first-child {
    display: none;
}

#confirmpay table.recipientInfo {
    width: 467px;
    margin-top: 35px;
}

#confirmpay table.recipientInfo tr td {
    height: 54px;
}

#confirmpay table.recipientInfo tr td input {
    height: 35px;
}

#confirmpay table.recipientInfo tr td:first-child {
    width: 100px;
    text-align: right;
}

#confirmpay table.recipientInfo tr td:last-child {
    width: 367px;
    padding-left: 15.1px;
}

#confirmpay table.recipientInfo tr:first-child td input {
    width: 180px;
}

#confirmpay table.recipientInfo tr:nth-child(2) td input {
    width: 280px;
}

#confirmpay table.recipientInfo tr:nth-child(2n+3) td input {
    width: 352px;
}

#confirmpay table.recipientInfo tr:nth-child(4) td select.city {
    width: 352.3px;
    height: 32.4px;
}

#confirmpay table.recipientInfo tr:nth-child(6) td:first-child {
    vertical-align: top;
}

#confirmpay table.recipientInfo tr:nth-child(6) td textarea {
    width: 352px;
    height: 100px;
    outline: none;
    color: #585858;
    border: 1.5px solid #bebebe;
    border-radius: 2px;
}

#confirmpay table.recipientInfo tr:nth-child(6) td:last-child {
    height: 119px;
}

input[type=radio], input[type="checkbox"] {
    display: none;
}

input[type="radio"]+label, input[type="checkbox"]+label {
    cursor: pointer;
}

input[type="radio"]+label span, input[type="checkbox"]+label span {
    display: inline-block;
    width: 17px;
    height: 17px;
    vertical-align: middle;
    margin: -4px 2px 0 25px;
    border: 1px solid #818181;
    border-radius: 2px;
}

input[type="radio"]:checked+label span div, input[type="checkbox"]:checked+label span div {
    background-color: #f0cc8f;
    width: 11px;
    height: 11px;
    border-radius: 1px;
    margin: 2px auto 0 auto;
}

#confirmpay div.receiptContent {
    margin: 32px 0 99px 0;
}

#confirmpay div.receiptContent #r3+label span {
    margin-left: 5px;
}

#confirmpay table.cartlistconfirm {
    width: 467px;
    margin-top: 30px;
    border-collapse: separate;
    border-spacing: 0;
    border: 1.5px solid #bcbcbc;
    border-radius: 9px;
}

#confirmpay table.cartlistconfirm tr th {
    font-weight: normal;
    height: 54px;
    background-color: #EEE;
    padding-left: 22px;
}

#confirmpay table.cartlistconfirm tr th:first-child {
    border-top-left-radius: 7px;
}

#confirmpay table.cartlistconfirm tr th:last-child {
    border-top-right-radius: 7px;
}

#confirmpay table.cartlistconfirm tr td {
    border-top: 1.5px solid #bcbcbc;
    padding-left: 22px;
}

#confirmpay table.cartlistconfirm tr:nth-child(2) td {
    height: 138px;
}

#confirmpay table.cartlistconfirm tr:nth-child(3) td {
    height: 138px;
}

#confirmpay table.cartlistconfirm tr:nth-child(4) td {
    height: 54px;
}

#confirmpay table.cartlistconfirm tr:nth-child(5) td {
    height: 54px;
}

#confirmpay table.cartlistconfirm tr:nth-child(6) td {
    height: 54px;
}

#confirmpay table.cartlistconfirm tr:nth-child(6) td:last-child {
    color: #ef9825;
}

#confirmpay div.agree {
    margin-top: 38.5px;
}

#confirmpay div.nextbtn button {
    width: 400px;
    height: 45px;
    color: #ebc179;
    background-color: #fff;
    border: 2px solid #ebc179;
    border-radius: 9px;
    outline: none;
    margin: 54px 0;
}

#confirmpay div.nextbtn a {
    outline: none;
}

#confirmpay div.nextbtn a button:focus {
    color: #fff;
    background-color: #ebc179;
    border: 2px solid #ebc179;
}

#confirmpay div.nextbtn a button:last-child {
    margin-left: 40px;
}

/* 分隔線 */

#separate {
    margin-left: auto;
    margin-right: auto;
    margin-top: 77.5px;
    margin-bottom: 77.5px;
}

.line {
    width: 1409px;
    height: 0px;
    border-top: 1px solid #585858;
}

/* 底部資訊區 */

#footerinfo {
    height: 273px;
    margin-left: auto;
    margin-right: auto;
}

#footerinfo p {
    font-size: 18px;
    line-height: 35px;
    color: #585858;
    text-align: center;
}