
:root{
    --fci:#585858;
}


.changeFci{
    --fci:#FFF;
}


.ftr-container{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 60px 40px;
    
}


.iconRow{
    display: flex;
    flex-direction:row;
   
   margin-left: 15px;
    
}



 .iconRow img{
     width: 32px;
     height:32px;
     margin-top: 10px;
     margin-right: 15px;
    
 }
 .iconRow img:hover{
     opacity: 40%;
     transition: 1s;
}





.ftr-content-inner{
    text-align: center;
    color:var(--fci);
}

.iconTopSpace{
    margin-top: 20px;
    line-height: 15px;
}



.ftr-content-inner  a{
    text-decoration: none;
    color:var(--fci);
}


.ftr-logo{
   padding: 30px 0%;

}

.footerLog{
   color:var(--fci);
  text-decoration: none;
  font-size: 2em;
}



#gallery{
    overflow: hidden;
   
    margin:300px 0;
  
}

.ftr-contact{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer {
    margin: auto;
    width: 70%;
    border-top: 1px solid var(--title);
  }
 
 
  .ftr-contact{
      text-align: left;
  }

  @media screen and (max-width: 765px) {

/* footer */
#ftr{
    margin-top: 100px;
}

.ftr-container {
    flex-direction: column;

  }

  .ftr-content-inner {
    margin-bottom: 50px;
  }

  .ftr-content-inner h5{
      font-size: 40px;
   }
   
   .iconRow{
       flex-direction: column;
       justify-content: center;
   }
   
   .ftr-contact{
   align-items: center;
   }

   #gallery{
    overflow: hidden;
    margin:300px 0;
}
  }
  