.to-top {
    position: fixed;
    bottom: 0px;
    right: 9px;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all 1s;
    z-index: 2000;
}

.to-top img {
    width: 100px;
    height: 100px;
}

.active {
    bottom: 20px;
    pointer-events: auto;
    opacity: 1;
}
@media screen and (max-width: 1600px) {
    .to-top{
        right: 10px;
    }

}

@media screen and (max-width: 1500px) {
    .to-top{
        right: -10px;
    }

}



@media screen and (max-width: 765px) {
    .to-top{
        right: -4px;
    }

    .to-top img {
        width: 80px;
        height:80px;
    }
 }