@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");

body {
  font-family: "Noto Serif TC", "Playfair Display", serif !important;
  transition: all 1.5s ease-in;
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 顏色區塊 */
:root {
  --styleColor: #585858;
  --TpnavColor: #bebebe;
  --TpnavHover: #585858;
}

.navColor {
  --styleColor: #fff;
  --TpnavColor: #534778;
  --TpnavHover: #fff;
}

/* 會員中心頂部區塊 */
#OHeader {
  margin-top: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.OHImg{
  width: 60%;
  font-size: 40px;
  color: #585858;
  display: flex;
  align-items: center;
}

.OHImg img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

/*文字區塊*/

.LHWord{
  width: 60%;
  margin-top: 85px;
}

.LHWord a{
   color: #ebc179;
}



.LHWord p:nth-of-type(1){
   font-size: 23px;
   color: #585858;
}

.LHWord p:nth-of-type(2){
   font-size: 20px;
   color: #585858;
}

.LHWord p:nth-of-type(3){
   font-size: 20px;
   color: #585858;
}









/* LOGO大小 */
#logo1 {
  width: 75px;
}

/*nav最外層塊 */
#nav01 {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 10vw;
  height: 98vh;
  text-align: center;
  z-index: 1000;
  padding-top: 40px;
}

/* nav ul 塊 */
.navContent {
  position: relative;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 65%;
  writing-mode: vertical-rl;
}

ul a {
  position: relative;
  color: var(--TpnavColor);
  font-size: 21px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.6s;
  letter-spacing: 2px;
}

/*nav li 設置塊*/
.insideUl {
  display: flex;
  flex-wrap: wrap-reverse;
  padding-top: 50px;
}
.insideUl li {
  padding: 15px;
}

.insideUl li a {
 
  display: block;
  border-top: 6px solid transparent;
  padding-top: 3px;
}


/* 第三個不套用hover 其餘都套用 */
.insideUl li:not(:nth-of-type(3)) a:hover {
  transition: 1s;
  border-top: 6px solid var(--TpnavHover);
  color: var(--TpnavHover);
  outline: none;
}

.insideUl li:nth-of-type(3) a {

   color:#ebc179;
}
.insideUl li:nth-of-type(3) a:hover {
   transition: all 0.1s ;
   opacity: 0.7;
}


/* 分隔線 */
#separate {
  margin-left: auto;
  margin-right: auto;
  margin-top: 250px;
  margin-bottom: 77.5px;
}

.line {
  width: 1409px;
  height: 0px;
  border-top: 1px solid #585858;
}


/* 底部資訊區 */
#footerinfo {
  height: 273px;
  margin-left: auto;
  margin-right: auto;
}

#footerinfo p {
  font-size: 18px;
  line-height: 35px;
  color: #585858;
  text-align: center;
}
