@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", "Noto Serif TC", serif !important;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/index/member-bg.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
}

/*中間白色塊*/

#memberContent {
  position: relative;
  width: 586px;
  height: 596px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
 
}

.mheaderLogo a{
  outline-color: #ebc179;
}

.Tarrow{
  position: absolute;
  font-size: 20px;
  top:15px;
  right:31px;
  color:#585858;
  cursor: pointer;
  text-decoration: none;
}

.Tarrow:hover{
  color: #ebc179;
}

.Tarrow:focus{
  color: #ebc179;
  outline: none;
}


.MlogoImg{
  width: 100px;
  height: 100px;
  background-image: url("../images/index/LogoIcon/Mlogo.png");
}


.MlogoImg:hover{
  background-position: center;
  background-size: cover;
  width: 100px;
  height: 100px;
  background-image: url("../images/index/LogoIcon/logo-b.png");
}

.MlogoImg:focus{
  background-position: center;
  background-size: cover;
  width: 100px;
  height: 100px;
  background-image: url("../images/index/LogoIcon/logo-b.png");
  outline:none;
}


/* 標題 */
.mSpan {
  display: inline-block;
  padding: 15px 0 0px 31px;
  font-size: 23px;
  color: #585858;
  font-weight: bold;
  letter-spacing: 2px;
}

/*白色塊內容塊 */
.mheaderLogo {
  display: flex;
  flex-direction: column;
 
  align-items: center;
  margin-top: 34px;
}



/*input and button 塊 */
.mForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 18px;
}

.inputContent label {
  color: #585858;
  font-size: 18px;
}

input[type="text"],
input[type="password"] {
  border: 1px solid #bcbcbc;
  border-radius: 2px;
  width: 380px;
  height: 49px;
  margin-bottom:-10px ;
   background: none;
  display: block;
  outline: none;
  font-size: 18px;
  color: #585858;
  padding:10px
}

.inputG{
  margin-top: 20px;
}



::-webkit-input-placeholder {
  font-size: 20px;
  color: #bcbcbc;

  letter-spacing: 1px;
}

.BottomContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
}

.mForm button {
  width: 383px;
  height: 50px;
  background-color: #ebc179;
  border: 1px solid transparent;
  border-radius: 9px;
  color: #fff;
  font-size: 20px;
}

.BottomContent  a{
   text-decoration: none;
   color:#ebc179;
   border:2px solid #ebc179;
   width: 383px;
   height: 50px;
   text-align: center;
   line-height: 50px;
   margin-top: 17px;
   border-radius: 9px;
   font-size: 20px;
  
}

.mForm button:hover{
  opacity: 0.7;
 }
 
 .mForm button:focus{
  opacity: 0.7;
  outline: none;
 } 
 
 .BottomContent  a:hover{
   background-color: #ebc179;
   color:#fff; 
 }
 
 .BottomContent  a:focus{
   background-color: #ebc179;
   color:#fff;
   outline: none;
 }
 
    ` 