* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --iconTopColor: #919191;
  --borderColor: #000;
  --ulColor: #585858;
}

.navColor {
  --iconTopColor: #fff;
  --borderColor: #fff;
  --ulColor: #FFF;
}

#nav01 {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 10vw;
  height: 100vh;
  text-align: center;
  z-index: 1000;
  margin-top: 15px;
  
}



.circle {
  border: 1px solid var(--borderColor);
  border-radius: 100%;
  padding: 17px 10px;
}

.navContent {
  position: relative;
  list-style: none;
  display: flex;
  justify-content:space-around;
  align-items: center;
  width: 65%;
  height: 85vh;
  writing-mode: vertical-rl;
  margin-top: 1%;
  
}

.navContent>li{
  
  height: 100%;
  padding-top: 25px;

}

ul a {
  position: relative;
  color: var(--ulColor);
  font-size: 21px;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.6s;
}

/* .moon {
  width: 100%;
}

.moon > img {
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-left: 20%;
} */

.FM {
  text-align: center;
}

.topIcon {
  position: absolute;
  right: 0;
  width: 90%;
  height: 10vh;
  z-index: 3000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topIcon2 {
  position: absolute;
  right: 0;
  width: 90%;
  /* height: 10vh; */
  margin-top: 1vh;
  z-index: 3000;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.topIcon li {
  width: 40px;
  text-align: center;
  font-size: 25px;
  color: var(--logoColor);
}

.ajTopIcon {
  list-style: none;
  display: flex;
  text-decoration: row;
  justify-content: space-evenly;
  margin-top: 19px;
}

.ajTopIcon li img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.ajTopIcon li {
  margin: 0 8px;
}

.topIn, .topIn span {
  white-space: pre-line;
  color: var(--iconTopColor);
}

.tzto {
  margin-left: 49px;
}

#navContent>li>a:hover {
  color: #fbd596;
  border-left: 6px solid #fbd596;
}


/* 搜尋按鈕展開 */

#searchform {
  display: flex;
  border-radius: 50px;
  background-color: #fff;
  max-height: 50px;
}

#searchform input {
  border: none;
  background-color: transparent;
  width: 0;
  transition: .5s ease;
}

#searchform input:focus {
  outline: none;
}

#searchform:hover>input,
#searchform input:focus {
  width: 180px;
  padding: 0 0 0 20px;
}

/* 會員中心下拉選單 */

.submenuTop {
  display: none;
}

.ajTopIcon li:nth-child(1):hover .submenuTop {
  display: flex;
  position: absolute;
  background-color: #FFF;
  opacity: 90%;
  margin-left: -90px;
}

.ajTopIcon li:nth-child(1):hover img {
  margin-bottom: 15px;
}

.ajTopIcon li:nth-child(1) .submenuTop ul {
  margin: 0 40px;
  list-style: none;
  padding: 0;
}

.ajTopIcon li:nth-child(1) .submenuTop ul li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.ajTopIcon li:nth-child(1) .submenuTop ul li a {
  font-size: 20px;
  color: rgba(97, 96, 95, .8);
}

.ajTopIcon li:nth-child(1) .submenuTop ul li a:hover {
  color: #fbd596;
}

.ajTopIcon li:nth-child(1) .submenuTop ul li+li::before {
  content: "";
  position: absolute;
  border-top: 1px solid rgba(97, 96, 95, .8);
  left: -15px;
  right: -15px;
  top: 0;
}

/*左側下拉清單*/

.sideMenu1{
  display: none;
  writing-mode:horizontal-tb;
  width: 200px;
}

.dropDown{
  position: relative;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;

 }


.dropDown:hover .sideMenu1{
   display: flex;
   position: absolute;
   background-color:#fff;
   opacity: 90%;
   left:100%;
   bottom: 0;
   margin-left: 15px;

}


.dropDown .sideMenu1 ul{
  list-style: none;
  margin: 0 25px;

}
.dropDown .sideMenu1 ul li{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
   padding: 20px 0;

}

.dropDown .sideMenu1 ul li a{
  font-size: 20px;
  color: rgba(97, 96, 95, .8);

}
.dropDown .sideMenu1 ul li:hover a{
   color:#fbd596;

}



/*使用+會選取與兄長一樣的弟元素
  如果與兄長元素不一樣只會選取一個弟元素
*/
.dropDown .sideMenu1 ul li+li::before {
  content: "";
  position: absolute;
  border-top: 1px solid rgba(97, 96, 95, .8);
  left: -30px;
  right: -30px;
  top: 0;
}

