* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --iconTopColor: #919191;
  --borderColor: #000;
  --ulColor: #585858;
  --topicsTitile: #707070;
  --styleColor: #585858;
  --cardtext: #898989;
  --TpnavColor: #bebebe;
  --TpnavHover: #585858;
}

.navColor {
  --iconTopColor: #fff;
  --borderColor: #fff;
  --ulColor: #a599ce;
  --topicsTitile: #fff;
  --cardtext: #534778;
  --styleColor: #fff;
  --TpnavColor: #534778;
  --TpnavHover: #fff;
}

ul>li {
  list-style: none;
}

#nav01 {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 10vw;
  height: 98vh;
  text-align: center;
  z-index: 1000;
  padding-top: 10px;
}

.circle {
  border: 1px solid var(--borderColor);
  border-radius: 100%;
  padding: 17px 10px;
}

.navContent {
  position: relative;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80%;
  writing-mode: vertical-rl;
  margin-top: 1%;
}

.navContent>li:nth-child(2) a {
  color: #fccb76;
  border-top: #fccb76 5px solid;
  padding-top: 5px;
  position: relative;
  font-size: 21px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.6s;
  letter-spacing: 2px;
}

.adjustEn {
  text-orientation: upright;
  text-transform: uppercase;
}

/* .moon {
  width: 100%;
}

.moon > img {
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-left: 20%;
} */

.FM {
  text-align: center;
}

.topIcon {
  position: absolute;
  right: 0;
  width: 90%;
  height: 10vh;
  z-index: 3000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topIcon2 {
  position: absolute;
  right: 0;
  width: 90%;
  /* height: 10vh; */
  margin-top: 1vh;
  z-index: 3000;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.topIcon li {
  width: 40px;
  text-align: center;
  font-size: 25px;
  color: var(--logoColor);
}

.ajTopIcon {
  list-style: none;
  display: flex;
  text-decoration: row;
  justify-content: space-evenly;
}

.ajTopIcon li img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.ajTopIcon li {
  margin: 0 8px;
}

.topIn, .topIn span {
  white-space: pre-line;
  color: var(--iconTopColor);
}

.tzto {
  margin-left: 49px;
}

/* 搜尋按鈕展開 */

#searchform {
  display: flex;
  border-radius: 50px;
  background-color: #fff;
  max-height: 50px;
}

#searchform input {
  border: none;
  background-color: transparent;
  width: 0;
  transition: 0.5s ease;
}

#searchform input:focus {
  outline: none;
}

#searchform:hover>input, #searchform input:focus {
  width: 180px;
  padding: 0 0 0 20px;
}

/* 會員中心下拉選單 */

.submenuTop {
  display: none;
}

.ajTopIcon li:nth-child(1):hover .submenuTop {
  display: flex;
  position: absolute;
  background-color: #fff;
  opacity: 90%;
  margin-left: -90px;
}

.ajTopIcon li:nth-child(1):hover img {
  margin-bottom: 15px;
}

.ajTopIcon li:nth-child(1) .submenuTop ul {
  margin: 0 40px;
  list-style: none;
  padding: 0;
}

.ajTopIcon li:nth-child(1) .submenuTop ul li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.ajTopIcon li:nth-child(1) .submenuTop ul li a {
  font-size: 20px;
  color: rgba(97, 96, 95, 0.8);
  text-decoration: none;
}

.ajTopIcon li:nth-child(1) .submenuTop ul li a:hover {
  color: #fbd596;
}

.ajTopIcon li:nth-child(1) .submenuTop ul li+li::before {
  content: "";
  position: absolute;
  border-top: 1px solid rgba(97, 96, 95, 0.8);
  left: -15px;
  right: -15px;
  top: 0;
}

.insideUl {
  display: flex;
  flex-wrap: wrap-reverse;
  height: 410px;
}

.insideUl li {
  padding: 15px;
}

.insideUl li a {
  display: block;
  border-top: 6px solid transparent;
  padding-top: 3px;
  position: relative;
  font-size: 21px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.6s;
  letter-spacing: 2px;
  color: var(--TpnavColor);
}

.insideUl li a:focus {
  transition: 1s;
  border-top: 6px solid var(--TpnavHover);
  color: var(--TpnavHover);
  outline: none;
}

.insideUl li a:hover {
  transition: 1s;
  border-top: 6px solid var(--TpnavHover);
  color: var(--TpnavHover);
  outline: none;
}

/* 版面設置 */

#contentTopics {
  width: 80vw;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}

.topicsTitile {
  font-size: 45px;
  text-transform: uppercase;
  margin-top: 88px;
  color: var(--topicsTitile);
  letter-spacing: 2px;
}

/* 大圖片 */

.topicsBp {
  margin-left: 60px;
  width: 27.7vw;
  margin-right: 60px;
}

/* 三個小圖片 */

/* .topicsSp {
  width:10vw;
} */

.insideContent {
  margin-top: 71px;
}

.topicsFtr {
  margin-top: 260px;
}

/* 右邊文字按鈕排版 */

.card-title {
  font-size: 35px;
  color: var(--ulColor);
}

.card-text {
  font-size: 18px;
  line-height: 30px;
  color: var(--cardtext);
  border-bottom: 1px solid var(--ulColor);
  padding-bottom: 38px;
}

.spanTt {
  font-size: 20px;
  color: var(--ulColor);
}

/*BUTTON*/

.btnsPrice {
  border: var(--btnsPrice) 2px solid;
  color: var(--btnsPrice);
  border-radius: 9px;
  line-height: 18px;
  font-size: 18px;
  width: 72px;
  height: 38px;
  outline: none;
  background-color: transparent;
  margin-top: 15px;
  margin-right: 10px;
  font-family: "Noto Serif TC", "Playfair Display", serif !important;
}

.btnsPrice:hover {
  background-color: var(--btnsPrice);
  color: var(--btnsHoverColor);
}

.btnVisited {
  background-color: var(--btnsPrice);
  color: var(--btnsHoverColor);
}

.btnOutline {
  border: 1px solid #bebebe;
  font-size: 25px;
  border-radius: 9px;
  text-align: center;
  margin-top: 10px;
  line-height: 35px;
}

.btnOutline img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnOutline i {
  font-size: 15px;
  line-height: 38px;
}

#count .btnOutline:nth-child(2n-1) {
  color: var(--ulColor);
}

#count .btnOutline:nth-child(2n-1):hover {
  color: var(--btnsPrice);
}

#count .btnOutline:nth-child(2) {
  width: 100px;
}

#startDate .btnOutline:nth-child(1) {
  width: 200px;
  text-align: left;
  font-size: 20px;
}

#startDate .btnOutline:nth-child(2) img {
  width: 22px;
  height: 25px;
}

.btnsCarts {
  border: var(--btnsPrice) 2px solid;
  font-size: 18px;
  color: var(--btnsPrice);
  line-height: 55px;
  border-radius: 9px;
  width: 192px;
  height: 58px;
  outline: none;
  background-color: transparent;
  margin-top: 15px;
  margin-right: 10px;
  font-family: "Noto Serif TC", "Playfair Display", serif !important;
  cursor: pointer;
}

.btnsCarts:hover {
  background-color: var(--btnsPrice);
  color: var(--btnsHoverColor);
}

/* javascript類別 */

.Picimg {
  cursor: pointer;
}

.inputOp {
  transition: all 1s;
  opacity: 0.5;
}

/* .transionEO{
  transition: click 10s ease-in-out;
} */

.transA {
  transition: opacity 1s;
  opacity: 1;
}

.transB {
  transition: opacity 1s;
}

.fadeInOut {
  opacity: 0;
}

@media screen and (max-width: 1800px) {
  #contentTopics {
    width: 70vw;
  }
  .topicsBp {
    width: 31vw;
  }
}

@media only screen and (max-width: 1500px) {
  #contentTopics {
    width: 80vw;
  }
  .topicsBp {
    width: 31.5vw;
  }
  .insideContent {
    margin-left: 50px;
  }
  .spanTt {
    margin-top: 100px;
  }
}

@media screen and (max-width: 1500px) {
  #contentTopics {
    width: 80vw;
  }
  .topicsBp {
    width: 31.5vw;
  }
  .insideContent {
    margin-left: 40px;
  }
}

@media screen and (max-width: 1400px) {
  #contentTopics {
    width: 90vw;
  }
  .topicsBp {
    width: 34vw;
  }
  .insideContent {
    margin-left: 10px;
  }
}

@media screen and (max-width: 1300px) {
  #contentTopics {
    width: 100vw;
  }
  .topicsBp {
    width: 38vw;
  }
  .insideContent {
    margin-left: 70px;
  }
}